#
# Docker

REGISTRY=

#
# OpenWebRX

OPENWEBRX_ADMIN_PASSWORD=

#
# Cloudflare Tunnel

CLOUDFLARE_TUNNEL_TOKEN=

#
# Homepage

HOMEPAGE_ALLOWED_HOSTS=sdrhub.localhost,sdrhub.xyz

#
# Ntfy

NTFY_BASE_URL=https://ntfy.sdrhub.localhost

NTFY_USER=sdrhub

NTFY_PASSWORD=
